/*Add padding and margin to space out the page.
Make the font larger too.*/
body {


	/*background-image: url("../images/this.jpg");*/
	background-color: lightgrey;
	background-size: auto;
	background-repeat: no-repeat;
	font-weight: bold;



}

header {
	background-color: #333;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;

}


/*Make the h1 heading bigger with a bold font*/
h1 {
	color: white;
	line-height: 2;
	font-size: 2em;
	font-weight: bold;
	padding-left: 20px;

}


.active {

	text-transform: uppercase;
	text-align: center;

}

.active a {
	text-decoration: none;
	;
}

a:hover {
	/* when you hover navigation bar*/
	border-bottom: 1px solid green;
}

a:visited {
	color: black;
}

p,
h2 {
	padding: 10px;
	opacity: 1;
}


.nav_bar {
	/* the seperate navigation elements */
	color: #000000;
	text-decoration: none;
	font-weight: none;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;

	padding-bottom: 10px;


}


.nav_links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 20px;

}



.nav_links a:visited {
	color: white;
}




.skip a {
	background: white;
	left: 0;
	padding: 6px;
	position: absolute;
	top: -40px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;

}

a {
	color: white;
	text-decoration: none;
}


.skip a:focus {
	top: 0;
}



.text-block {
	background-color: rgba(255, 255, 255, .8);
	border: 5px solid black;
	padding: 30px;
	grid-column: 2/4;

}

.container {
	display: grid;
	grid-template-columns: 50px auto auto 50px;
	padding-top: 50px;
}

.mypic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}



/*Make the h1 heading bigger with a bold font*/





@media screen and (min-width: 700px) {
	.nav_links {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
		text-decoration: none;
		width: 350px;
		justify-content: space-between;

	}

	.nav_bar {
		/* the seperate navigation elements */
		color: #000000;
		text-decoration: none;
		font-weight: none;
		font-size: 17px;
		font-family: 'Oxygen', sans-serif;



	}

}


@media screen and (min-width: 900px) {
	header {
		background-color: #333;

		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		padding: 0;

	}

	.nav_links {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		text-decoration: none;
		padding-right: 80px;
		width: 350px;

	}


	.nav_bar {
		filter: contrast(120%);
	}


	body {


		background-image: url("../images/thiss.png");
		background-size: cover;
		background-color: black;
		background-repeat: no-repeat;
		font-weight: bold;



	}

	.container {
		display: grid;
		grid-template-columns: 400px auto 450px;
		margin-right: 20px;
	}

	.text-block {
		background-color: rgba(255, 255, 255, .8);
		border: 10px solid black;
		padding: 30px;
		grid-column: 3;
	}



	.mypic {
		display: block;
		margin-left: auto;
		margin-right: 60px;
	}
}
@media screen and (min-width: 1000px) {
body {


		background-image: url("../images/this.jpg");
		background-size: cover;
		background-color: black;
		background-repeat: no-repeat;
		font-weight: bold;



	}
}
