/*Add padding and margin to space out the page.
Make the font larger too.*/
body {


	/*background-image: url("../images/this.jpg");*/
	background-color: lightgrey;
	background-size: cover;
	background-repeat: no-repeat;
	font-weight: bold;


}

header {
	background-color: #333;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	width: 100%;

}

/*Make the h1 heading bigger with a bold font*/
h1 {

	font-size: 2em;
	font-weight: bold;
	color: white;
	line-height: 2;
	padding-left: 20px;
}

h2 {
	font-size: 30px
}

header>h1 {
	color: white;
	line-height: 2;
}

h2,
h3 {
	padding-top: 50px;
	text-align: center;
}

.active {

	text-transform: uppercase;
	text-align: center;
	border-top: 2px solid white;
}

.active a {
	text-decoration: none;

}



/*Improve the spacing for paragraphs AND headings*/
p,
h2 {
	padding: 10px;
	opacity: 1;
}



.nav_bar {
	/* the seperate navigation elements */
	color: #000000;
	text-decoration: none;
	font-weight: none;
	font-size: 17px;
	font-family: 'Oxygen', sans-serif;

	padding-bottom: 10px;


}


.nav_links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 20px;

}




a:hover {
	/* when you hover navigation bar*/
	border-bottom: 1px solid green;
}





/*Added this so the links stay the same color*/
a:visited {
	color: white;
}

.skip a {
	background: white;
	left: 0;
	padding: 6px;
	position: absolute;
	top: -40px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	color: black;
}

a {
	color: white;
}

.skip a:focus {
	top: 0;
}



.text-block {
	background-color: rgba(255, 255, 255, .8);
	border: 5px solid black;
	padding: 30px;
	grid-column: 2;
}

.container {
	display: grid;
	grid-template-columns: 50px auto 50px;
}

a {
	text-decoration: none;
}

.resume {

	height: 1400px;
	border: 1px black solid;
}

.main {
	text-align: center;
	padding-top: 100px;

}

.grid-container {
	display: grid;
	grid-template-columns: 250px 250px;
	grid-auto-flow: row;
	row-gap: 5px;
	justify-content: center;
}

.grid-container img {
	height: 250px;
	width: 400px;
	height: 250px;
	padding: 10px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	grid-column: 1/3;




}

.grid-container img:nth-child(9) {
	margin-left: auto;
	margin-right: auto;
	grid-column: 1 / span 2;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;


}

.flex-container img {
	flex-basis: 350px;
	width: 300px;
	align-self: center;
	border-radius: 20px;

}

.row {

	text-align: center;
}

.row img {
	margin-bottom: 10px;
}

@media screen and (min-width: 700px) {

	.grid-container {
		display: grid;
		grid-template-columns: 320px 320px;
		grid-auto-flow: row;
		row-gap: 5px;
	}

	.grid-container img {
		height: 200px;
		width: 300px;

		padding: 10px;
		border-radius: 20px;
		grid-column: unset;



	}

	.grid-container img:nth-child(9) {
		margin-left: auto;
		margin-right: auto;
		grid-column: 1 / span 2;
	}


	.nav_links {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
		text-decoration: none;
		width: 350px;
		justify-content: space-between;

	}

	.nav_bar {
		/* the seperate navigation elements */
		color: #000000;
		text-decoration: none;
		font-weight: none;
		font-size: 17px;
		font-family: 'Oxygen', sans-serif;



	}

	.container {
		display: grid;
		grid-template-columns: 100px auto 100px;
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;


	}

	.column {
		text-align: center;
		display: flex;

	}

	.row img {
		margin-bottom: 40px;
		text-align: center;
		flex-basis: 100%;
	}

	.flex-container img {
		flex-basis: 100%;
		width: 250px;
		align-self: center;
		border-radius: 20px;

	}

	.row {
		width: 300px;

	}
}

@media screen and (min-width: 900px) {
	header {
		background-color: #333;

		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		padding: 0;

	}

	.nav_links {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		text-decoration: none;
		padding-right: 80px;
		width: 350px;

	}





	.container {
		display: grid;
		grid-template-columns: auto 800px auto;
	}


	/*Add padding and margin to space out the page.
Make the font larger too.*/





	.flex-container {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: center;

	}

	.column {
		justify-content: center;


	}

	.row {
		display: flex;
		flex-direction: row-reverse;

		align-items: center;
		justify-content: center;
		padding-right: 60px;
		padding-left: 60px;


	}

	.img {
		margin-right: 10px;
		text-align: center;
	}


	.flex-container img {
		flex-basis: 100%;
		width: 200px;
		align-self: center;
		border-radius: 20px;

	}

	.last {
		margin-left: 0;
		padding-left: 0;
    		padding-right: 0;
   		margin-right: -30px;
	}

	.text-container {
		display: grid;
		grid-template-columns: auto 800px auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.text-block {
		background-color: rgba(255, 255, 255, .8);
		border: 5px solid black;
		padding: 50px;
		grid-column: 2;
	}

	.grid-container {
		display: grid;
		justify-content: center;
		grid-template-columns: 300px 300px 300px;
		grid-auto-flow: row;
		row-gap: 5px;
	}

	.grid-container img {
		height: 175px;
		width: 280px;
		height: 180px;
		padding: 10px;
		border-radius: 20px;
	}

	.grid-container img:nth-child(9) {

		grid-column: 3;
	}
}
